@import '@/app/styles/variables';

.input {
    position: relative;
    max-width: 610px;
    width: 100%;
    height: 100%;

    & svg {
        width: 20px;
        height: 20px;
        transition: 0.3s;
        color: $discount_price_color;

        &:hover {
            cursor: pointer;
            color: $black_color;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    & input {
        width: 100%;
        padding: 12px 30px 12px 52px;
        border-radius: 62px;
        border: none;
        outline: none;
        background: $bg_footer_color;
        color: $black_color;
        font-size: 16px;
        cursor: pointer;

        &:disabled {
            cursor: auto;
        }

        &:focus {
            cursor: text;
        }
    }
}

.icon {
    position: absolute;
    left: 17px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $discount_price_color;
}

.loader {
    width: 18px;
    height: 18px;
    border: 3px solid $discount_price_color;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
