$black_color: #000000;
$paragph_color: #00000099;
$bg_white_color: #ffffff;
$stroke_color: #0000001a;
$bg_img_color: #f0eeed;
$discount_price_color: #00000066;
$discount_precent_color: #ff3333;
$diccount_bg_precent: #ff33331a;
$stroke_social_icon: #00000033;
$bg_footer_color: #f0f0f0;
$bg_header_color: #f2f0f1;