@import '@/app/styles/variables';

.cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.search {
    width: 50%;
    padding: 15px;
    background: $bg_white_color;

    border-radius: 25px;
}

.results {
    margin: 20px 0 10px;

    & a {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
        border-bottom: 1px solid $stroke_color;
        padding: 10px;
        color: $paragph_color;
        transition: 0.3s;

        &:hover {
            color: $black_color;
        }

        & h3 {
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & svg {
            width: 20px;
            height: 20px;
        }
    }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
    .search {
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 600px) {
    .search {
        width: 85%;
    }
    .results a h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .search {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
}
