@import '@/app/styles/variables';

.main {
    width: 75%;

    & span {
        display: inline-block;
    }
}

.inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid $stroke_color;
}
