@import '@/app/styles/variables';

.product {
    width: 100%;
    text-decoration: none;
    transition: 0.3s;
}

.img {
    max-width: 295px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 16px;
    background: grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    transition: 0.3s;

    color: $black_color;
}

.rating_cont {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;

    & svg {
        width: 18px;
        height: 18px;
        color: #ffc633;
    }
}

.rating {
    font-size: 14px;
    color: $black_color;
    & span {
        color: $paragph_color;
    }
}

.price_cont {
    display: flex;
    font-size: 24px;
    align-items: center;
    font-weight: bold;
    gap: 10px;
    color: $black_color;
}

.old_price {
    color: $discount_price_color;
    text-decoration: line-through;
}

.discount {
    font-size: 12px;
    font-weight: 500;
    color: $discount_precent_color;
    background: $diccount_bg_precent;
    padding: 6px 12px;
    border-radius: 12px;
}

@keyframes load {
    0% {
        background: $bg_img_color;
    }
    50% {
        background: darken($color: $bg_img_color, $amount: 10px);
    }
    100% {
        background: $bg_img_color;
    }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 375px) {
}
