@import '@/app/styles/variables';

.img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background: $bg_img_color;
    color: $black_color;
    animation: load 2s ease-in-out infinite;

    &:hover {
        transform: scale(1.1);
    }

    & img {
        width: 100%;
        object-fit: cover;
    }

    &_loading {
        height: 0;
        padding-top: 100%; /* Создание квадратного контейнера */
    }

    &_load {
        height: 100%;
    }
}

.not_found {
    width: 100%;
    background: $bg_img_color;
    height: 0;
    padding-top: 100%; /* Создание квадратного контейнера */
    position: relative;
    // transition: 0.3s;

    // &:hover {
    //     transform: scale(1.2);
    // }

    & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
    }
}

@keyframes load {
    0% {
        background: $bg_img_color;
    }
    50% {
        background: darken($color: $bg_img_color, $amount: 10px);
    }
    100% {
        background: $bg_img_color;
    }
}
