@import '@/app/styles/variables';

.loader {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(
            to bottom right,
            #0000 calc(50% - 20px),
            #f0f0f0 50%,
            #0000 calc(50% + 20px)
        )
        bottom right/calc(200% + 40px) calc(200% + 40px) #cbcbd3;
    animation: ct8 1s infinite;
}
@keyframes ct8 {
    100% {
        background-position: top left;
    }
}
