@import '@/app/styles/variables';

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px solid $stroke_color;
    gap: 40px;
}

.avatar {
    text-decoration: none;

    & h1 {
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;
        color: $black_color;
    }
}

.cont {
    display: flex;
    gap: 24px;
}
