@import '@/app/styles/variables';

.cont {
    width: 100%;
    padding: 24px 0;
    border-top: 1px solid $stroke_color;
    color: $paragph_color;
}

.title {
    font-size: 16px;
    margin-bottom: 16px;
}

.sizes {
    width: 100%;
    display: flex;
    gap: 12px;
}

.color_item {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    transition: 0.3s;
    outline: 2px solid transparent;

    & svg {
        color: white;
    }

    &:hover {
        outline: 2px solid $paragph_color;
        cursor: pointer;
    }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 600px) {
    .sizes {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 375px) {
}
