@import '@/app/styles/variables';

.cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 20px;
    margin: 24px 0 80px;
}

.filters {
    width: 295px;
    height: 100px;
    background: grey;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h3 {
        font-size: 32px;
        font-weight: bold;
    }
}

.icon {
    display: none;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background: $bg_footer_color;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: 0.3s;

    &:hover {
        background: darken($color: $bg_footer_color, $amount: 10px);
    }
}

.sort {
    // width: 100%;
    display: flex;

    align-items: center;
    gap: 12px;
    & p {
        font-size: 16px;
    }
}

.cont_list {
    width: calc(100% - 295px);
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0 32px;
    border-bottom: 1px solid $stroke_color;

    gap: 36px 20px;

    & a,
    span {
        max-width: 295px;
        width: 31%;
    }
}

@media screen and (max-width: 1024px) {
    .cont_list {
        width: 80%;
    }

    .list {
        // justify-content: space-between;
        & a,
        span {
            width: 48%;
        }
    }
}

@media screen and (max-width: 800px) {
    .cont_list {
        width: 100%;
    }

    .icon {
        display: flex;
    }
    .list {
        gap: 24px 14px;
        justify-content: flex-start;
        & a,
        span {
            width: 31%;
        }
    }

    .sort {
        & button {
            order: 1;
        }
    }
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 600px) {
    .list {
        justify-content: space-between;
        & a,
        span {
            width: 47%;
        }
    }
    .head {
        gap: 10px;
        flex-wrap: wrap;

        & h3 {
            font-size: 25px;
        }

        & p {
            font-size: 14px;
        }
    }

    .sort {
        width: 100%;

        & button {
            order: 0;
        }
    }
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 375px) {
}
